.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ECEAEA;
}

.layout {
  display:flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.orange {
  width: 100vw;
  height: 10vh;
  background-color: #FEAD10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.grey {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 7vw;
  min-width: 50px;
  margin-left: -90%;
}

.footer {
  width: 150vw;
  height: 10vh;
  background-color: #f4a60b;
  position: fixed;
  bottom: 0;
}

.text{
  text-align: center;
  width: 90px;;
  height: 60px;
  color: #AB2F2F; 
  font-Family: Calibri, Helvetica, sans-serif;
}

.but {
  width: 200px;
  height: 30px;
  border-radius: 4%;
  color: #908989;
  padding: 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 8px;
  margin-right: 8px;
  align-items: center;
  background-color: #d2cbcb;
  border: none;
  margin-bottom: 20px;
  transform: scale(1.2);
}
.botao{
  cursor: pointer;
  width: 170px;
  height: 44px;
  border-radius: 4%;
  color: #FFFFFF;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 90px;
  align-items: center;
  border: none;
  background-color: #AB2F2F;
}
.text2{
  margin: 15px 8px;
  color: #AB2F2F;
  font-family: Helvetica, sans-serif; 
  cursor: "pointer";
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text3{
  min-width: 200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
