.container {
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: white;
}

.conteudo {
    padding: 20px 40px;
}

.titulo {
    color: #992800;
}

.text {
    margin-bottom: 40px;
    text-wrap: wrap;
    color: #E0982D;

}

.text2 {
    width: 78vw;
    border-bottom: 1px solid;
    color: #992800;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.textcategoria {
    width: 70vw;
    color: #992800;
    margin-top: 45px;
}

.botao {
    background-color: #992800;
    padding: 2px 4px;
    color:#fff;
    margin-top: 30px;
}

.botaoModal {
    background-color: #992800;
    padding: 2px 4px;
    color:#fff;
    margin-top: 30px;
    margin-left: 20px;
}

.text3{
    width: 70vw;
    border-bottom: 1px solid;
    color: #992800;
  
}

.label {
    color: #992800;
}

.inputs {
    border: 1px solid #992800;
    border-radius: 4px;
}

.descricaoImagem {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.uploadImage {
    border: 2px dotted;
    background-color: #eee;
    height: 100px;
    max-width: 110px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-top: 25px;
}

.descricaoProduto {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.text2DivSecundaria {
    display: flex;
    gap: 250px;
}

.olhoBotao {
    background: none;
    border: none;
}

.olho {
    font-size: 20px;
    display: flex;
}

.produtoItemSpan {
    display: flex;
    gap: 430px;
    margin-left: 62%;
    white-space: nowrap;
    display: flex;
}

@media screen and (max-width: 480px) {
    .text {
        margin-bottom: 40px;
        text-wrap: wrap;
        width: 140px;
    }
}

.btnAtualizar{
    margin-left: 95%;
    display: flex;
    bottom: 15px;
    right: 15px;
    padding: 2px 4px;
    color: #eee;
    background-color: #992800;
    

}