.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    flex: 1;
  }
  
  .layout {
    display:flex;
    flex-direction:column;
    justify-content:space-between;

  }
  
  .orange {
    width: 100vw;
    height: 10vh;
    background-color: #FEAD10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo {
    width: 7vw;
    min-width: 50px;
    margin-left: -90%;
  }
  
  .footer {
    width: 170vw;
    height: 10vh;
    background-color: #f4a60b;
    position: fixed;
    bottom: 0;
  }
  
  .linha {
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(to bottom, blue 100%);
  }
  
  
  .but {
    width: 200px;
    height: 30px;
    border-radius: 10%;
    color: #908989;
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -30px;
    align-items: center;
    background-color: #d2cbcb;
    border: none;
    margin-bottom: 20px;
    transform: scale(1.2);
  }
  .botao{
    cursor: pointer;
    width: 170px;
    height: 44px;
    border-radius: 10%;
    color: #ffffff;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: center;
    border: none;
    background-color: #AB2F2F;
  }
  .text{
    height: -20px;
    width: 100px;
  }
  
  .container{
    margin-left: 45%;
    width:100vh;
    flex: 1; /*ocupar todo o espaço da tela*/
  }