
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #ECEAEA;
  }
  
  .layout {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  }
  
  .orange {
    width: 100vw;
    height: 70vh;
    background-color: #FEAD10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo {
    width: 50vw;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    image-rendering: smooth;
  }
  

  .text{
    text-align: center;
    justify-content: center;
    display: flex;
    width: 90px;
    height: 60px;
    color: #AB2F2F; 
    font-Family: Calibri, Helvetica, sans-serif;
    font-size: 20px;
    white-space: nowrap;
  }
  
  
  .botao{
    cursor: pointer;
    width: 200px;
    height: 44px;
    border-radius: 4%;
    color: #FFFFFF;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: #AB2F2F;
    margin-top: 35px;  
  }
  
  .container{
    margin-left: 25%;
    width:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
